{% extends "base.html" %}
{% block title %}Service logs{% endblock %}
{% block body %}
  <div class="col s12">

    <div class="row">
      {% if services|length > 0 %}
        <div class="input-field col s12">
          <input id="service_search" type="text" class="validate">
          <label for="service_search">Service name</label>
        </div>
      {% endif %}
    </div>
  </div>
  <div id="all" class="col s12">
    <div class="row">
      {% for service in services %}
        {% include "service-info.html" %}
      {% else %}
        <h4 class="center-align grey-text text-darken-2">No running services</h4>
      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block js %}
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}