{% extends "base.html" %}
{% block body %}
  <div class="section"></div>
  <main>
    <div class="center-align">
      <div class="section"></div>
      <div class="section"></div>

      <div class="container">
        <div id="login-container" class="z-depth-1 grey lighten-4 row">
          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='text' name='username' id='username'/>
                <label for='username'>Enter your username</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' name='password' id='password'/>
                <label for='password'>Enter your password</label>
              </div>
            </div>
            <br/>
            <div class="center-align">
              <div class='row'>
                <button type='submit' name='btn_login'
                        class='col s12 btn btn-large waves-effect waves-light blue'>Login
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="section"></div>
    <div class="section"></div>
  </main>
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}