{% extends "base.html" %}
{% block title %}{{ service.name }}{% endblock %}
{% block body %}
  <div class="row">
    <form id="log_form" class="container col s12" method="post" action="/service/{{ service.name }}/download-logs/">
      <div id="container-info" class="card blue darken-2">
        <div class="card-content">
          <div class="white-text">
            <span id="service-name" class="card-title">{{ service.name }}</span>
            <p class="truncate"><strong>ID:</strong> {{ service.short_id }}</p>
            <p class="truncate"><strong>Image:</strong> {{ service.attrs.Spec.TaskTemplate.ContainerSpec.Image }}</p>
            <p class="truncate"><strong>Nodes:</strong> {% for node in nodes %}{{ node }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
            <p class="truncate"><strong>Ports:</strong> {% for port in service.attrs.Spec.EndpointSpec.Ports %}{{ port.PublishedPort }}{% if not loop.last %}, {% endif %}{% else %}None{% endfor %}</p>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <label>
                <input name="timestamps" type="checkbox" checked="checked"/>
                <span class="white-text">Add Timestamp</span>
              </label>
            </div>
            <div class="input-field col s6">
              <label>
                <input id="timerange" name="timerange" type="checkbox"/>
                <span class="white-text">Custom timerange</span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 timerange hide">
              <input id="date-start" class="datepicker" name="date-start" type="text">
              <label for="date-start">Date start</label>
            </div>
            <div class="input-field col s6 timerange hide">
              <input id="time-start" class="timepicker" name="time-start" type="text">
              <label for="time-start">Time start (optional)</label>
            </div>
          </div>
        </div>
        <div class="card-action right-align">
          <a href="/" class="btn waves-effect waves-light blue"><i class="material-icons left">arrow_back</i>Back</a>
          <button class="btn waves-effect waves-light blue" type="submit" name="action">Download logs
            <i class="material-icons right">arrow_downward</i>
          </button>
          {% if superuser %}
            <a class=" btn waves-effect waves-light red modal-trigger" href="#stop_modal">Stop service
              <i class="material-icons right">delete</i>
            </a>
            <a class=" btn waves-effect waves-light red modal-trigger" href="#restart_modal">Restart service
              <i class="material-icons right">loop</i>
            </a>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div id="log-snippet-card" class="card blue darken-2">
    <div class="card-content">
      <div class="white-text">
        <span class="card-title">Last 50 lines</span>
        <pre class="log-snippet"></pre>
      </div>
    </div>
    <div class="card-action right-align">
      <a class="btn waves-effect waves-light blue modal-trigger" href="#log-snippet-modal">
        <i class="material-icons right">fullscreen</i>Maximize</a>
      </div>
    </div>
  </div>

  <div id="stop_modal" class="modal">
    <div class="modal-content">
      <h4>Stop service {{ service.name }}</h4>
      <p>Est&aacute; seguro que quiere detener el servicio <strong>{{ service.name }}?</strong></p>
      <p>Esta acci&oacute;n quedar&aacute; loggeada.</p>
    </div>
    <div class="modal-footer">
      <a href="/service/{{ service.name }}/remove/"
         class="modal-close red-text waves-effect btn-flat">Detener servicio</a>
      <button class="modal-close waves-effect btn-flat">Cancelar</button>
    </div>
  </div>
  <div id="restart_modal" class="modal">
    <div class="modal-content">
      <h4>Restart service {{ service.name }}</h4>
      <p>Est&aacute; seguro que quiere reiniciar el servicio <strong>{{ service.name }}?</strong></p>
      <p>Esta acci&oacute;n quedar&aacute; loggeada.</p>
    </div>
    <div class="modal-footer">
      <a href="/service/{{ service.name }}/restart/"
         class="modal-close red-text waves-effect btn-flat">Reiniciar servicio</a>
      <button class="modal-close waves-effect btn-flat">Cancelar</button>
    </div>
  </div>
  <div id="log-snippet-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <pre id="log-snippet-modal-lines" class="log-snippet"></pre>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/service.css') }}">
{% endblock %}
{% block js %}
  <script src="{{ url_for('static', filename='js/service.js') }}"></script>
{% endblock %}
