{% with service=service.service, nodes=service.nodes %}

<div id="{{ service.name }}" class="col s12 m6 docker-container">
  <div class="card blue darken-2">
    <div class="card-content white-text">
      <span class="card-title">{{ service.name }}</span>
      <p><strong>ID:</strong> {{ service.short_id }}</p>
      <p class="truncate"><strong>Image:</strong> {{ service.attrs.Spec.TaskTemplate.ContainerSpec.Image }}</p>
      <p class="truncate"><strong>Nodes:</strong> {% for node in nodes %}{{ node }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
      <p class="truncate"><strong>Ports:</strong> {% for port in service.attrs.Spec.EndpointSpec.Ports %}{{ port.PublishedPort }}{% if not loop.last %}, {% endif %}{% else %}None{% endfor %}</p>
    </div>
    <div class="card-action">
      <a href="/service/{{ service.name }}/" class="btn waves-effect waves-light blue"><i class="material-icons right">info</i>Details</a>
    </div>
  </div>
</div>
{% endwith %}
